<b>Select Themes</b>
<select size="1" [(ngModel)]="themeName">
  <option value="forest">Forest Theme</option>
  <option value="ocean">Ocean Theme</option>
  <option value="cloud">Cloud Theme</option>
</select>

<!--Style Binding-->
<div [class]="themeName" [style.max-width.px]="size" [style.max-height.px]="size">class component</div><!--style binding-->
 
<br/><br/>
<select size="1" [(ngModel)]="col">
  <option value="violet">Violet</option>
  <option value="indigo">Indigo</option>
  <option value="blue">Blue</option>
  <option value="green">green</option>
  <option value="yellow">Yellow</option>
  <option value="orange">Orange</option>
  <option value="red">Red</option>
</select><br/>
<input type="text" placeholder="enter text" [style.background-color]="col"> <!--[style.background-color]="col" -->
&nbsp;&nbsp;
<b>Set the Number</b> &nbsp;&nbsp;
<input type="number" min="100" max="500" step="20" [(ngModel)]="size" />
<br/> <br>

<form name="myform" (submit)="sendData()">
<!--Property Binding-->
    First Name <input type="text" name="firstName"  [(ngModel)]="udata.firstName" (ngModelChange)="checkData()"/>
      <label style="color: red;" *ngIf="this.udata.firstName.length==0">&nbsp;FirstName cannot be empty</label><br/>
    Last Name <input type="text" name="lastName" [(ngModel)]="udata.lastName"/>
      <label style="color: red;" *ngIf="this.udata.lastName.length==0">&nbsp;LastName cannot be empty</label><br/>
    <input type="checkbox" name="enableDisable" [(ngModel)]="enableDisable"/>Agree to T & C <br/>
    <input type="button" value="Save Data" [disabled]="!enableDisable"
    (click)="saveData($event)"/>&nbsp;&nbsp;<br>

    <input type="submit" value="Submit-form"  />

    <!--$event is an optional parameter-->
    <!--Same as onClick="saveData(this) in Javascript"-->
    <input type="reset" value="Reset" [disabled]="!(udata.firstName.length > 0 || udata.lastName.length >0)"/>
</form>
<br>
<!--Same as for of loop in javascript-->
<b>Table of users</b><br>
<table border="1">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of userList">
      <td>{{ user.firstName }}</td>
      <td>{{ user.lastName }}</td>
    </tr>
  </tbody>
</table><br>

<form>
  Company Name<input type="text" name="company" [(ngModel)]="this.udata.company"/><br>
  User location<input type="text" name="location" [(ngModel)]="this.udata.location"/>
</form>
<!--
  <ng-container *ngIf="this.udata.company.length != 0 || this.udata.location.length != 0; then Correct; else NotCorrect">
</ng-container>
<ng-template #Correct>
  <div ><b>Inputs are Correct</b></div>
</ng-template>
<ng-template #NotCorrect>
  <div ><b>Company & Location are Mandatory....</b></div>

</ng-template>
-->
  <ng-template [ngIf]="this.udata.company.length != 0 || this.udata.location.length != 0" [ngIfElse]="NotCorrect">
  <b>Inputs are Correct</b>
  </ng-template>
  <ng-template #NotCorrect>
    <b>Company & Location are Mandatory....</b>
  </ng-template>
<br><br>
<!--SwitchCase-->
<select size="1" [(ngModel)]="this.stateName">
  <option value="TN">Tamil Nadu</option>
  <option value="AP">Andhra Pradesh</option>
  <option value="TS">Telangana</option>
  <option value="KA">Karnataka</option>
</select>

<div [ngSwitch]="this.stateName">
  <ul *ngSwitchCase="'TN'"><li>Chennai</li><li>Madurai</li><li>Coimbatore</li></ul>
  <ul *ngSwitchCase="'AP'"><li>Kurnool</li><li>Tirupati</li><li>Vizag</li></ul>
  <ul *ngSwitchCase="'TS'"><li>Hyderabad</li><li>Warangal</li><li>Kodada</li></ul>
  <ul *ngSwitchCase="'KA'"><li>Bangalore</li><li>Mysore</li><li>Mangalore</li></ul>
</div>

<router-outlet></router-outlet>